<div id="{{ include.name }}" class="py-16 xl:px-24 2xl:px-52 bg-tg-white">
    <div class="container mx-auto">
        {% include block-name.html label=include.label background="white" direction="left" %}

        <div class="flex flex-col md:flex-row lg:gap-12 lg:px-20 xl:px-40">
            <div class="flex-none self-center md:order-last p-6">
                <div class="rounded-full border-2 border-tg-pink">
                    <div class="w-64 h-64 rounded-full border-4 border-tg-white overflow-hidden">
                        <img src="{{ site.baseurl }}/assets/images/profile.jpg" alt="Profile image">
                    </div>
                </div>
            </div>
            <div class="flex-grow py-12 md:py-0 px-6 text-center md:text-left">
                <h3 class="mb-2.5 text-tg-gray text-xl tracking-normal">
                    {{ site.data.about.title[page.lang] }}
                </h3>
                <h5 class="mb-6 italic text-sm font-thin">
                    {{ site.data.about.subtitle[page.lang] }}
                </h5>
                <p class="leading-6 text-justify">
                    {{ site.data.about.description[page.lang] }}
                </p>
                <div class="mt-12 flex flex-col sm:flex-row justify-around md:justify-start gap-10 text-sm">
                    <div>
                        <a href="#contact" class="anchor inline-block border-2 border-tg-pink bg-tg-pink text-tg-white uppercase p-2.5 tracking-widest hover:bg-tg-white hover:text-tg-pink">
                            {{ site.data.about.contact[page.lang] }}
                        </a>
                    </div>
                    <div>
                        <a href="{{ site.data.about.download_href[page.lang] }}"
                           target="_blank"
                           class="inline-block border-2 border-tg-pink bg-tg-pink text-tg-white uppercase p-2.5 tracking-widest hover:bg-tg-white hover:text-tg-pink"
                           title="{{ site.data.about.download_description[page.lang] }}">
                            {{ site.data.about.download[page.lang] }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>