<div id="{{ include.name }}" class="py-16 bg-tg-white">
    <div class="container mx-auto">
        <div class="flex justify-start">
            {% include block-name.html label=include.label background="white" %}
        </div>

        <div class="flex gap-28 my-20 mx-40">
            <div class="flex-grow">
                <h3 class="mb-2.5 text-tg-gray text-xl tracking-normal">
                    Tifenn Guillas, enchantée !
                </h3>
                <h5 class="mb-6 italic text-sm font-thin">
                    Un peu plus sur moi ?
                </h5>
                <p class="leading-6">
                    D'un naturel très curieux, les domaines de l'Informatique et de la Biologie m'ont toujours attiré.
                    Mais après le baccalauréat, il a bien fallu choisir. La voie de la raison l'a emportée, n'ayant
                    jamais eu de cours d'informatique avant le bac, je me suis orientée en Biologie. Néanmoins j'avais
                    toujours l'Informatique dans un coin de ma tête. C'est donc naturellement que, sitôt ma licence de
                    Biologie en poche, j'ai décidé de me réorienter dans la Programmation Web. Choix que je ne regrette
                    absolument pas aujourd'hui, et c'est avec grand plaisir que je me lève tous les matins pour aller
                    au travail !
                </p>
                <div class="mt-12 grid grid-flow-col auto-cols-max gap-4 text-sm">
                    <div>
                        <a href="#contact" class="bg-tg-pink text-tg-white uppercase p-2.5 tracking-widest">
                            Contactez-moi
                        </a>
                    </div>
                    <div>
                        <a href="https://drive.google.com/file/d/1ZRJfRWh7VgBdC2HCWPvmAbCfQ8XFCA8h/view?usp=sharing"
                           target="_blank"
                           class="bg-tg-pink text-tg-white uppercase p-2.5 tracking-widest"
                           title="Téléchargez mon CV">
                            Téléchargez mon CV
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex-none">
                <div class="rounded-full border-2 border-tg-pink">
                    <div class="w-64 h-64 rounded-full border-4 border-tg-white overflow-hidden">
                        <img src="{{ site.baseurl }}/assets/images/profile.jpg" alt="Profile image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>