<div id="{{ include.name }}" class="py-16 xl:px-24 2xl:px-52 bg-tg-white">
    <div class="container mx-auto">
        <div class="flex justify-start pb-12">
            {% include block-name.html label=include.label background="white" %}
        </div>

        <div class="px-2.5 lg:px-20 xl:px-40">
            <h4 class="mb-4 text-center uppercase">Études et certifications</h4>
            <div class="my-12">
                <div class="mt-10 grid grid-col-1 md:grid-col-2 md:gap-6">
                    {% for formation in site.data.formations %}
                    <div class="mb-2 md:text-right">
                        <div class="inline-block leading-loose md:leading-normal text-tg-pink md:text-tg-gray
                            text-sm md:text-base tracking-widest md:tracking-wider font-light
                            border-b-2 border-tg-pink md:border-0">
                            {{ formation.date }}
                        </div>
                    </div>
                    <div class="pb-4 md:pb-0 md:col-start-2">
                        <p class="italic">{{ formation.title }}</p>
                        <p class="font-thin italic">{{ formation.note }}</p>
                        <p class="text-tg-pink italic">{{ formation.location }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>