<div id="{{ include.name }}" class="py-16 xl:px-24 2xl:px-52 bg-tg-white">
    <div class="container mx-auto">
        <div class="flex justify-start pb-12">
            {% include block-name.html label=include.label background="white" %}
        </div>

        <div class="px-12 lg:px-20 xl:px-40">
            <div class="carousel">
                {% for goal in site.data.goals %}
                <div>
                    <h3 class="mb-9 xl:pl-12 text-center text-xl font-semibold text-wide">
                        {{ goal.year }}
                    </h3>
                    {% for task in goal.tasks %}
                    <div class="relative mt-20 md:mt-8 lg:mx-12 xl:mx-20 2xl:mx-32">
                        <div class="absolute rounded-full h-28 w-28 flex items-center justify-center bg-gray-100
                        border-2 border-tg-pink -top-14 inset-x-0 mx-auto md:m-0 md:inset-y-0 md:my-auto">
                            {% if task.icon_type == "fontawesome" %}
                                <span class="fa-3x {{ task.icon }}"></span>
                            {% else %}
                                <img class="max-h-12 max-w-12" src="{{ site.baseurl }}/assets/images/{{ task.icon }}" alt="{{ task.title }} logo">
                            {% endif %}
                        </div>
                        <div class="min-h-40 mx-6 md:ml-14 pt-14 md:pt-6 pb-6 px-6 md:pl-20 bg-gray-100 border-b-2 border-r border-tg-pink">
                            <h4>{{ task.title }}</h4>
                            <p class="text-justify">{{ task.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>