<div id="page-top" class="h-screen bg-header-image bg-cover bg-center bg-fixed">
    <div class="h-screen bg-tg-blue bg-opacity-30">
        <div class="absolute top-1/3 inset-x-0">
            <h1 class="pb-2.5 text-7xl text-tg-white text-center">
                Tifenn Guillas
            </h1>
            <div class="text-center">
                <span class="bg-tg-pink text-tg-white uppercase p-2.5 tracking-widest">
                    Développeuse d'Applications Web
                </span>
            </div>
        </div>
        <div class="absolute bottom-0 inset-x-0 text-center animate-bounce">
            <a class="text-tg-white p-10 pb-0" href="#about">
                <i class="fa fa-3x fa-angle-down"></i>
            </a>
        </div>
    </div>
</div>