<div class="py-16 bg-tg-blue">
    <div class="container mx-auto px-6">
        <p class="mb-10 text-center text-lg text-tg-soft-gray">
            Convaincu ? Envie de garder une trace de mon CV, ou même de le transmettre au format standard ?
        </p>
        <div class="text-center">
            <a href="{{ page.resume }}"
               target="_blank"
               class="inline-block p-2.5 border-2 border-tg-pink bg-tg-pink text-tg-white text-sm
               uppercase tracking-widest hover:bg-tg-white hover:text-tg-pink"
               title="Téléchargez mon CV">
                Téléchargez mon CV
            </a>
        </div>
    </div>
</div>