<div class="py-16 bg-tg-blue">
    <div class="container mx-auto px-6">
        <p class="mb-10 text-center text-lg text-tg-soft-gray">
            {{ site.data.hobbies.description[page.lang] }}
        </p>
        <div class="text-center">
            <a href="{{ site.data.hobbies.download_href[page.lang] }}"
               target="_blank"
               class="inline-block p-2.5 border-2 border-tg-pink bg-tg-pink text-tg-white text-sm
               uppercase tracking-widest hover:bg-tg-white hover:text-tg-pink"
               title="{{ site.data.hobbies.download_description[page.lang] }}">
                {{ site.data.hobbies.download[page.lang] }}
            </a>
        </div>
    </div>
</div>