<div id="{{ include.name }}" class="bg-parallax-image bg-cover bg-center bg-fixed">
    <div class="bg-tg-blue bg-opacity-70">
        <div class="container mx-auto py-16 grid grid-cols-3 divide-x divide-tg-pink">
            {% for s in site.socials %}
            {% assign social = s[1] %}
            <div class="text-center text-tg-pink">
                <a href="{{ social.url }}" class="mx-1" target="_blank" title="{{ social.name }}">
                    <span class="fa-4x {{ social.fontawesome }}"></span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>