<nav class="flex fixed z-10 top-0 inset-x-0 bg-tg-blue bg-opacity-80 text-tg-white text-xs tracking-wider uppercase">
    <a class="flex-none my-auto mx-2.5" href="#page-top">
        <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="logo">
    </a>

    <ul class="flex-auto text-center">
    {% for section in site.data.sections %}
        {% if section.menu_displayed %}
        <li class="inline-block p-4 hover:text-tg-pink">
            <a href="#{{ section.name }}">
                {{ section.label }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
        <li class="inline-block">
            {% if site.lang == 'fr-FR' %}
            <a class="p-4" href="{{ site.baseurl }}/fr/">
                <img class="inline-block" src="{{ site.baseurl }}/assets/images/fr_flag.png" alt="`French flag">
            </a>
            {% else %}
            <a class="p-4" href="{{ site.baseurl }}/en/">
                <img class="inline-block" src="{{ site.baseurl }}/assets/images/en_flag.png" alt="English flag">
            </a>
            {% endif %}
        </li>
    </ul>

    <div class="flex-none my-auto mx-2.5">
        <a href="https://drive.google.com/file/d/1ZRJfRWh7VgBdC2HCWPvmAbCfQ8XFCA8h/view?usp=sharing"
            target="_blank"
            class="p-2.5 border border-tg-pink bg-tg-pink text-tg-white uppercase font-semibold tracking-widest hover:text-tg-pink hover:bg-tg-white"
            title="Téléchargez mon CV">
            Télécharger
        </a>
    </div>
</nav>