<div id="{{ include.name }}" class="pt-16 pb-24 bg-tg-blue">
    <div class="container mx-auto">
        <div class="flex justify-end">
            {% include block-name.html label=include.label background="blue" %}
        </div>

        <div class="my-20 mx-40 grid grid-flow-col">
            {% for project in site.data.portfolio %}
            <div class="">
                <a class="image-popup hover:filter hover:bg-red-900" href="#{{ project.id }}">
                    <img src="{{ site.baseurl }}/assets/images/portfolio/{{ project.miniature }}" alt="">
                </a>
                <div id="{{ project.id }}" class="mfp-hide">
                    <img src="{{ site.baseurl }}/assets/images/portfolio/{{ project.image }}" alt="">
                    <div class="container bg-tg-pink opacity-50">
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>