<div class="text-center">
    <div class="sm:hidden bg-gray-300">XS</div>
    <div class="hidden sm:block md:hidden bg-yellow-300">SM</div>
    <div class="hidden md:block lg:hidden bg-yellow-600">MD</div>
    <div class="hidden lg:block xl:hidden bg-red-600 text-white">LG</div>
    <div class="hidden xl:block 2xl:hidden bg-red-900 text-white">XL</div>
    <div class="hidden 2xl:block bg-purple-800 text-white">2XL</div>
</div>

<div id="{{ include.name }}" class="py-16 xl:px-24 2xl:px-52 bg-tg-blue">
    <div class="container mx-auto">
        <div class="flex justify-end pb-12">
            {% include block-name.html label=include.label background="blue" %}
        </div>

        <div class="px-6 lg:px-20 xl:px-40">
            <h4 class="mb-4 text-center text-tg-pink uppercase">Expériences professionnelles</h4>
            <div class="my-12">
                {% for job in site.data.jobs %}
                <div class="my-10 grid grid-cols-1 md:grid-cols-3 md:gap-6">
                    <div class="mb-3 md:text-right">
                        <span class="pb-1 text-tg-pink md:text-tg-soft-gray
                        text-sm md:text-base tracking-widest md:tracking-wider font-light
                        border-b-2 border-tg-pink md:border-0">
                            {{ job.start }} - {{ job.end }}
                        </span>
                    </div>
                    <div class="md:col-span-2">
                        <p class="text-tg-soft-gray italic">{{ job.title }}</p>
                        <p class="text-tg-pink font-light italic">{{ job.location }}</p>
                        <p class="pt-4 text-tg-white">{{ job.description }}</p>
                        <p class="pt-4 text-tg-white">{{ job.tasks }}</p>
                        <p class="pt-4 text-tg-soft-gray">
                            {% for techno in job.technologies %}
                            #{{ techno }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="text-center">
            <a href="{{ page.resume }}"
               target="_blank"
               class="inline-block border-2 border-tg-pink bg-tg-pink text-tg-white text-sm uppercase p-2.5 tracking-widest hover:bg-tg-white hover:text-tg-pink"
               title="Téléchargez mon CV">
                Téléchargez mon CV
            </a>
        </div>
    </div>
</div>