<div id="{{ include.name }}" class="py-16 bg-tg-white">
    <div class="container mx-auto">
        <div class="flex justify-start">
            {% include block-name.html label=include.label background="white" %}
        </div>

        <div class="my-20 mx-40">
            <h4 class="mb-4 text-center uppercase">Mon savoir-faire</h4>
            <p>
                Grâce à mes différentes expériences, qu'elles soient professionnelles ou personnelles, j'ai pu acquérir
                des compétences, en particulier dans les catégories suivantes :
            </p>
            <div class="my-12 grid grid-flow-col gap-10">
                {% for stack in site.data.skills %}
                    {% include card.html name=stack.stack technologies=stack.technologies %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>