<div id="{{ include.name }}" class="py-16 xl:px-24 2xl:px-52 bg-tg-white">
    <div class="container mx-auto">
        {% include block-name.html label=include.label background="white" direction="right" %}

        <div class="text-center px-6 lg:px-20 xl:px-40">
            <h4 class="mb-4 uppercase">
                {{ site.data.skills.title[page.lang] }}
            </h4>
            <p>
                {{ site.data.skills.description[page.lang] }}
            </p>
            <div class="mt-10 grid grid-flow-raw lg:grid-flow-col gap-10 md:px-12 lg:px-0 text-left">
                {% for stack in site.data.skills.list %}
                    {% include card.html name=stack.stack technologies=stack.technologies %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>