---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1, h2, h3, h4, h5, h6 {
    @apply tracking-wide font-medium;
}

h4 {
    @apply text-lg;
}

/* Carousel */
.slick-prev, .slick-next {
    &::before {
        @apply text-tg-pink hover:text-opacity-50;
    }
}

/* Portfolio thumbnail */
.image-popup {
    @apply relative overflow-hidden bg-tg-pink;

    img {
        @apply transition-all duration-300 ease-in hover:opacity-20;
    }

    &::before, &::after {
        content: "";
        @apply bg-tg-white absolute opacity-0 top-1/2 left-1/2 z-10 transform -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in;
    }
    &::before {
        @apply w-16 h-0.5 left-0;
    }
    &::after {
        @apply h-16 w-0.5 top-full;
    }
    &:hover::before, &:hover::after {
        @apply top-1/2 left-1/2 opacity-100;
    }
}
.mfp-arrow-left {
    -webkit-transform-origin: inherit;
    transform-origin: inherit;
}
.mfp-arrow-right {
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}