<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
    <head>
        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="Tifenn Guillas">
        <meta name="keywords" content="web, developer, développeur, symfony, angular2, angular4, angular, php, postgresql, mysql, html, html5, css3, javascript">

        <!-- Open Graph -->
        <meta property='og:url' content='{{ page.socials.url }}'/>
        <meta property='og:type' content='website'/>
        <meta property='og:title' content="{{ page.socials.title }}"/>
        <meta property='og:description' content="{{ page.description }}"/>
        <meta property='og:locale' content='{{ site.lang }}'/>
        <meta property='og:site_name' content='{{ page.title }}'/>
        <meta property="og:image" content="{{ site.url }}/assets/images/miniature.jpg">

        <!-- Facebook -->
        <meta property="fb:app_id" content="264362930673821">

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="{{ site.socials.twitter.username }}">
        <meta name="twitter:creator" content="{{ site.socials.twitter.username }}">
        <meta name="twitter:title" content="{{ page.socials.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:image" content="{{ site.url }}/assets/images/miniature.jpg">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500" rel="stylesheet">

        <!-- CSS -->
<!--        <link rel="stylesheet" href="{{ site.url }}/dist/assets/css/bootstrap/dist/css/bootstrap.min.css">-->
<!--        <link rel="stylesheet" href="{{ site.url }}/dist/assets/css/animate.css/animate.min.css">-->
<!--        <link rel="stylesheet" href="{{ site.url }}/dist/assets/css/magnific-popup/dist/magnific-popup.css"> &lt;!&ndash; CSS for animation on popup &ndash;&gt;-->
<!--        <link rel="stylesheet" href="{{ site.url }}/dist/assets/css/font-awesome/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/dist/libs.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

        <!-- Favicons -->
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
        <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon-180x180.png" />

        <!-- Google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-88060393-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body class="bg-black">
        {{ content }}

        <!-- Scripts JS -->
        <script src="{{ site.baseurl }}/assets/dist/libs.js"></script>
        <script src="{{ site.baseurl }}/assets/js/app.js"></script>
<!--        <script src="{{ site.url }}/dist/assets/js/jquery/dist/jquery.min.js'"></script>-->
<!--        <script src="{{ site.url }}/dist/assets/js/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--        <script src="{{ site.url }}/dist/assets/js/tifennguillas/js/wow.min.js"></script> &lt;!&ndash; Script Wow for animations on scroll &ndash;&gt;-->
<!--        <script src="{{ site.url }}/dist/assets/js/jquery-parallax.js/parallax.min.js"></script>-->
<!--        <script src="{{ site.url }}/dist/assets/js/isotope-layout/dist/isotope.pkgd.min.js"></script> &lt;!&ndash; Script Isotope for Portfolio &ndash;&gt;-->
<!--        <script src="{{ site.url }}/dist/assets/js/magnific-popup/dist/jquery.magnific-popup.min.js"></script> &lt;!&ndash; Script for animation on popup &ndash;&gt;-->
<!--        <script src="{{ site.url }}/dist/assets/js/jquery.easing.min.js"></script> &lt;!&ndash; Script for scroll animations &ndash;&gt;-->
<!--        &lt;!&ndash;<script src="site.url }}/dist/assets/js/jquery.fallings.min.js"></script>&ndash;&gt; &lt;!&ndash; Script for parallax effect &ndash;&gt;-->
<!--        <script src="{{ site.url }}/dist/assets/js/bootstrap-validator/dist/validator.js"></script> &lt;!&ndash; Script for Bootstrap form validator &ndash;&gt;-->
<!--        <script src="{{ site.url }}/dist/assets/js/jquery-form/dist/jquery.form.min.js"></script>-->
<!--        <script src="{{ site.url }}/dist/assets/js/main.js"></script>-->

        <script type="application/ld+json">
            {
                "@context": "http://schema.org/",
                "@type": "Person",
                "name": "{{ page.title }}",
                "jobTitle": "{{ page.description }}",
                "url": "{{ page.socials.url }}",
                "image": "{{ site.url }}/dist/assets/logo.svg",
                "sameAs" : [
                    "{{ site.socials.twitter.url }}",
                    "{{ site.socials.linkedIn.url }}",
                    "{{ site.socials.github.url }}"
                ],
                "email": "tifenn.guillas@gmail.com"
            }
        </script>
    </body>
</html>